<h2>Admin Dashboard</h2>
<div class="row">
    <div class="col-xl-4 col-md-12">
        <div class="red-card">
            <div class="top-row row">
                <img src="~/SVG/redUser.svg">
                <div class="card-data" style="text-align: center;">
                    <h3>
                        Total User
                    </h3>
                    <h6>
                        @ViewBag.allUser
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="blue-card">
            <div class="top-row row">
                <img src="~/SVG/blueUser.svg">
                <div class="card-data" style="text-align: center;">
                    <h3>
                        Last 30 days Users
                    </h3>
                    <h6>
                        @ViewBag.UserLastMonth
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="yellow-card">
            <div class="top-row row">
                <img src="~/SVG/yellowUser.svg">
                <div class="card-data" style="text-align: center;">
                    <h3>
                        Last 24 hours Users
                    </h3>
                    <h6>
                        @ViewBag.UserLastDay
                    </h6>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xl-4 col-md-12">
        <div class="white-card">
            <div class="top-row row">
                <img src="~/SVG/greenlist.svg">
                <div class="card-data" style="text-align: center;">
                    <h3>
                        Accepted Properties
                    </h3>
                    <h6>
                        @ViewBag.allProperty
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-12">
        <div class="white-card">
            <div class="top-row row">
                <img src="~/SVG/bbluelist.svg">
                <div class="card-data" style="text-align: center;">
                    <h3>
                        Waiting Properties
                    </h3>
                    <h6>
                        @ViewBag.PropertyLastDay
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-12">
        <div class="white-card">
            <div class="top-row row">
                <img src="~/SVG/redlist.svg">
                <div class="card-data" style="text-align: center;">
                    <h3>
                        Last 30 days Properties
                    </h3>
                    <h6>
                        @ViewBag.PropertyLastMonth
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 col-md-12">
        <div class="white-card">
            <div class="top-row reservation-container">
                <div class="card-data" style="text-align: center;">
                    <div class="reservation-data">
                        <img src="~/SVG/bluereservation.svg">
                        <h3>
                            Accepted Reservations
                        </h3>
                    </div>
                    <div class="blue-reservation">
                        @ViewBag.AcceptedReservations
                        <div class="blue-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="white-card">
            <div class="top-row reservation-container">
                <div class="card-data" style="text-align: center;">
                    <div class="reservation-data">
                        <img src="~/SVG/redreservation.svg">
                        <h3>
                            Waiting Reservations
                        </h3>
                    </div>
                    <div class="red-reservation">
                        @ViewBag.WaitingReservations
                        <div class="red-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="white-card">
            <div class="top-row reservation-container">
                <div class="card-data" style="text-align: center;">
                    <div class="reservation-data">
                        <img src="~/SVG/orangereservation.svg">
                        <h3>
                            Last 30 days Reservations
                        </h3>
                    </div>
                    <div class="orange-reservation">
                        @ViewBag.ReservationsLastMonth
                        <div class="orange-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

