@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Account/_profileLayout.cshtml";
    ViewData["Title"] = "Profile";
}
@model Airbnb.ViewModels.editUserData;
<form form asp-action="editprofile" asp-controller="account" method="post" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row mynavbar">
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <ul class="nav">
                    <li class="navbar-brand">
                        <a class="fab fa-airbnb" style="font-weight: bold ; font-size:xx-large;" asp-controller="home" asp-action="index"><span id="logo"> airbnb</span></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="header col col-12 col-md-6" id="myHeader" style="background-color: white;">
                <i class="fas fa-chevron-left" style="cursor: pointer;" onclick="history.back()"></i>
                <span>Edit Personal info</span><br><br>
            </div>
        </div>
        <div class="editProfileBody">
            <div  style="background-color: rgb(247 247 247); height: 350px; width: 350px; float: right; margin-right: 130px;">
                <img src="~/images/@Model.User.PhotoUrl" style="border-radius: 50%;padding:10px;margin-left:25px;margin-top:20px" height="300" width="300">
                <input type="file" id="customFile" asp-for="PhotoUrl" style="margin-left:80px" hidden/>
                <label for="customFile" style="margin-left:170px"><i class="fas fa-edit"></i></label>
            </div>
            <input asp-for="User.Id" type="hidden" />
            <div class="form-row">
                <div class="form-group form-group col col-6 col-md-4">
                    <label asp-for="@Model.User.FirstName">FirstName</label>
                    <input asp-for="@Model.User.FirstName" class="form-control" />
                    <span asp-validation-for="@Model.User.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group form-group col col-6 col-md-4">
                    <label asp-for="@Model.User.LastName">LastName</label>
                    <input asp-for="@Model.User.LastName" class="form-control" />
                    <span asp-validation-for="@Model.User.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group form-group col col-6 col-md-4">
                    <label asp-for="@Model.User.DateOfBirth">DateOfBirth</label>
                    <input asp-for="@Model.User.DateOfBirth" class="form-control" />
                    <span asp-validation-for="@Model.User.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group form-group col col-6 col-md-4">
                    <label asp-for="@Model.User.PhoneNumber">PhoneNumber</label>
                    <input asp-for="@Model.User.PhoneNumber" class="form-control" />
                    <span asp-validation-for="@Model.User.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group form-group col col-6 col-md-4">
                    <label asp-for="@Model.User.Email">Email</label>
                    <input asp-for="@Model.User.Email" class="form-control" />
                    <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
                </div>
                <div class="form-group form-group col col-6 col-md-4">
                    <label>Country</label>
                    <select class="form-control" 
                            id="countries" 
                            asp-items='new SelectList(ViewData["Countries"] as IEnumerable<Airbnb.Models.Location.Country>, "Id", "Name", Model.User.City?.State.CountryId)' 
                            onchange="fetchStates()">
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col col-6 col-md-4">
                    <label>State</label>
                    <div id="states">
                        @if (Model.User.CityId.HasValue)
                        {
                            <div style="overflow: hidden; width: 50px;">
                                <img style="object-fit: cover; width: 100%;" src="https://uploads.toptal.io/blog/image/122384/toptal-blog-image-1489082600190-18810897d0cb0ab42b276537a18dafdf.gif" alt="as" />
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group col col-6 col-md-4">
                    <label>City</label>
                    <div id="cities">
                        @if (Model.User.CityId.HasValue)
                        {
                            <div style="overflow: hidden; width: 50px;">
                                <img style="object-fit: cover; width: 100%;" src="https://uploads.toptal.io/blog/image/122384/toptal-blog-image-1489082600190-18810897d0cb0ab42b276537a18dafdf.gif" alt="as" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group form-group col col-6 col-md-4">
                    <label asp-for="@Model.User.Street">Street</label>
                    <input asp-for="@Model.User.Street" class="form-control" />
                    <span asp-validation-for="@Model.User.Street" class="text-danger"></span>
                </div>
                <div class="form-group form-group col col-6 col-md-4">
                    <label asp-for="@Model.User.BuildingNo">Building Number</label>
                    <input asp-for="@Model.User.BuildingNo" class="form-control" />
                    <span asp-validation-for="@Model.User.BuildingNo" class="text-danger"></span>
                </div>
            </div>
            <div>
                <button class="btn-glow" style="width:200px; margin-top:10px">
                    <span class="glow">
                        Save
                    </span>
                    Save
                </button>
            </div>
        </div>
        
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            @if (Model.User.CityId.HasValue)
            {
               @:$('#countries').trigger("change");
            }
        });

        function fetchStates() {
            var id = $('#countries').val();

            $.ajax({
                type: "GET",
                url: `/listing/states/${id}`,
                success: function (response) {
                    $('#states').css('display', 'block')
                    $('#states').html(response);
                    @if (Model.User.CityId.HasValue)
                    {
                        @:$('#statesSelect').val(@Model.User.City.StateId).trigger("change");
                    }
                }
            });
        }

        function fetchCities() {
            var id = $('#statesSelect').val();

            $.ajax({
                type: "GET",
                url: `/listing/cities/${id}`,
                success: function (response) {
                    $('#cities').css('display', 'block')
                    $('#cities').html(response);
                    @if (Model.User.CityId.HasValue)
                    {
                        @:$('#citySelect').val(@Model.User.CityId);
                    }
                }
            });
        }

        function setMapCenter() {  }
    </script>
}
