
@{
    Layout = "~/Views/Account/_profileLayout.cshtml";
    ViewData["Title"] = "ResetPassword";
}
@model ResetPasswordViewModel
<!--Section: Block Content-->
    <form asp-action="ResetPassword" asp-controller="Account" method="post">

        <div class="container-fluid">
            <div class="row mynavbar">
                <nav class="navbar navbar-expand-lg navbar-white bg-white">
                    <ul class="nav">
                        <li class="navbar-brand">
                            <a class="fab fa-airbnb" style="font-weight: bold ; font-size:xx-large;" asp-controller="home" asp-action="index"><span id="logo"> airbnb</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="header col col-12 col-md-6" id="myHeader" style="background-color: white;">
                    <i class="fas fa-chevron-left" style="cursor: pointer;" onclick="history.back()"></i>
                    <span>Change Password</span><br><br>
                </div>
            </div>



            <div class="editProfileBody col-xl-6 col-lg-6 col-md-10 col-sm-11  align-items-center justify-content-center">
                <div class="align-items-center justify-content-center">
                    <div asp-validation-summary="All" class="error"></div>

                    <div class="md-form md-outline">
                        <label asp-for="@Model.OldPassword">Old Password</label>
                        <input type="password" id="newPass" asp-for="@Model.OldPassword" class="form-control">
                        <span data-success="right" asp-validation-for="@Model.OldPassword" class="badge badge-danger"></span>
                    </div>

                    <div class="md-form md-outline">
                        <label asp-for="@Model.Password">New Password</label>
                        <input type="password" id="newPass" asp-for="@Model.Password" class="form-control">
                        <span data-success="right" asp-validation-for="@Model.Password" class="badge badge-danger"></span>
                    </div>

                    <div class="md-form md-outline">
                        <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                        <input type="password" id="newPass" asp-for="@Model.ConfirmPassword" class="form-control">
                        <span data-success="right" asp-validation-for="@Model.ConfirmPassword" class="badge badge-danger"></span>
                    </div>

                    <div>
                        <button class="btn-glow mb-4" style="width:200px; margin-top:10px" type="submit">
                            <span class="glow">
                                Change Password
                            </span>
                            Change Password
                        </button>
                        <a id="change_password" asp-action="Index" asp-controller="Home" class="btn btn-outline-dark mb-4" style="width:200px; margin-top:10px">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
            </div>
</form>
