@using Airbnb.ViewModels.Messaging
@using System.Globalization
@model ChatViewModel
@{
    Layout = "_Layout_Modal";
    var contact = Model.Chat.Users.FirstOrDefault(x => x.Id != Model.CurrentUser.Id);
    DateTime lastDate = new DateTime(2000, 1, 1);
}

<div class="chat-header clearfix">
    <img class="dp" style="height:3.5rem" src="~/images/@(contact.PhotoUrl!=null?contact.PhotoUrl:"default_dp.jpg")" alt="avatar" />
    <div class="chat-about">
        <div class="chat-with">@contact.FirstName @contact.LastName</div>
    </div>
    <i class="fa fa-star"></i>
</div> <!-- end chat-header -->

<div class="chat-history" id="chat-history">
    <ul id="chatCr">
        @if (Model.Chat.Messages != null)
            foreach (var msg in Model.Chat.Messages.TakeLast(20))
            {

                <li class="clearfix">
                    <div class="message-data align-right">
                        @if ((msg.DateTime - lastDate).TotalDays != 0) // if msg is in earlier day than the prev msg then print curr msg date
                        {
                            <span class="dimmed-sm-label datetime">@msg.DateTime.ToString(new CultureInfo("en-US"));</span>
                        }
                        &nbsp; &nbsp;
                        <span class="message-data-name">@msg.User.FirstName</span> <i class="fa fa-circle me"></i>

                    </div>
                    <div class="message other-message float-right">
                        @msg.Text
                    </div>
                </li>
            }
        else
        {
            <li class="normal-text font-weight-bold">
                <h4>
                    Start a converstaion with @contact.FirstName @contact.LastName
                </h4>
            </li>
        }
    </ul>

</div> <!-- end chat-history -->

<div class="chat-message clearfix">
    <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="2"></textarea>

    <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;

    <label for="ImageInput">
        <i class="fa fa-file-image-o"></i>
        @*<img class="input-icon" src="~/assets/images/imageinput.png" />*@
        <input hidden id="ImageInput" name="Image" type="file" accept="image/*" />
    </label>
    <button id="send-btn">Send</button>

</div> <!-- end chat-message -->


@section Scripts{
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chathub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

        async function start() {
            try {
                await connection.start();
                console.log("chat hub Connected.");
                try {
                    await connection.invoke("join_chat", "@Model.Chat.ChatId");
                } catch (err) {
                    console.error(err);
                }
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };

        connection.onclose(start);

        // Start the connection.
        start();

        connection.on("new_message", function (msg) {
            console.log("New Message : ", msg);
                addMsgToList(msg);
        });

        connection.on("removed_message", function (_messageId) {
            console.log(_messageId);
        });

    $('#send-btn').click(function () {
        console.log("clicked");
        connection.invoke("send_message", '@Model.Chat.ChatId', $('#message-to-send').val());
    });
    </script>
    <script src="~/js/chat.js"></script>
}

