@using Airbnb.Models;
@using System.Globalization
@model AppUser

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link href="~/css/Messaging.css" rel="stylesheet" />


<div class="container clearfix">
    <div class="people-list" id="people-list">
        <div class="row">
            <h2>All Messages</h2>
            <div>
                <a asp-action="CreateChat" asp-controller="Messaging" class="btn btn-default"
                   data-ajax="true" data-ajax-update="#modal-render-body"
                   data-ajax-success="$('#RegisterModal').modal('show');$('.modal-title').text('Suggested People');">
                    <i class="fas fa-plus"></i> Add Chat
                </a>
            </div>
        </div>
        @*<div class="search">
                <input type="text" placeholder="search" />
                <i class="fa fa-search"></i>
            </div>*@
        <ul class="list">
            @foreach (var chat in Model.Chats)
            {
                var contact = chat.Users.FirstOrDefault(x => x.Id != Model.Id);
                Message lastMessage = null;
                @if (chat.Messages.Count() > 0)
                {
                    lastMessage = chat.Messages.ToList().Last();
                }
                <li class="clearfix clickableItem" onclick="loadChat(@chat.ChatId)">
                    <img src="~/images/@(lastMessage.User.PhotoUrl != null ? lastMessage.User.PhotoUrl : "default_dp.jpg")" alt="avatar" />
                    <div class="about">
                        <span class="name">@lastMessage?.User.FirstName</span>
                            @if (lastMessage != null)
                            {
                                if (lastMessage.User.Id == Model.Id)
                                {
                                    <span class="normal-text">@lastMessage.Text</span>
                                }
                                else
                                {
                                    <span class="normal-text font-weight-bold">@lastMessage.User.FirstName : @lastMessage.Text</span>
                                }
                            }
                            else
                            {
                                <span class="normal-text font-weight-bold">Start a converstaion with @contact.FirstName</span>
                            }

                        </div>
                        <div class="status">
                            <i class="fa fa-circle online"></i> @lastMessage?.DateTime.ToString(new CultureInfo("en-US"))
                        </div>
                </li>
            }
            </ul>
        </div>

        <div class="chat" id="chat-cr">
        </div> <!-- end chat -->
    </div> <!-- end container -->



    @section Scripts{
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>

        <script>
            function loadChat(chatId) {
                $.get("/Messaging/GetChat?chatid=" + chatId, function (data) {
                    $("#chat-cr").html(data);
                });
            }
        </script>

        @*load first chat by ajax call*@
        @if (Model.Chats != null)
            @if (Model.Chats.Count() > 0)
            {
                <script>
                    loadChat("");
                </script>
            }

            <script src="https://kit.fontawesome.com/c975a9ad44.js" crossorigin="anonymous"></script>
  }