@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Listing";
    Layout = "~/Views/Shared/_Hosting.cshtml";
}
@model IEnumerable<Property>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<!-- Number of list and creat -->
<div class="col-12 mt-5">

    <div class="row m-2">
        <span role="heading" aria-level="2">
            <h3>@Model.Count() listings </h3>
        </span>
        <div style="margin-left:82%;">
            <a asp-controller="Listing" asp-action="New" class="btn btn-light finish-btn float-right">
                <i class="far fa-plus"></i>&nbsp;Create
                List
            </a>
        </div>
    </div>
    <!-- End of number of list and create -->
    <!-- Div for search and filtering -->
    <div class="row">
        <!-- Search -->
        <div class="col-3 m-1">
            <input style="width: 80%;" type="text" id="mySearchText" placeholder="Search...">
        </div>
        <!-- Search -->
        <!--End  Div for search and filtering -->
    </div>
    <!-- Div contain Data Table -->

    <div class="col">

        <table id="example" class="table hover border" width="100%" style="margin-top: 4%;">
            <thead>
                <tr>
                    <th> LISTING</th>
                    <th>BED ROOMS</th>
                    <th>BEDS</th>
                    <th>BATHS</th>
                    <th>LOCATIONS</th>
                    <th>STATUS</th>
                    <th id="noSort">OPERATIONS</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="Property" asp-action="Details" asp-route-id="@item.Id" style="color: inherit; text-decoration: none;">
                                <i class="fas fa-home-lg-alt"></i>&nbsp;@item.Title
                            </a>
                        </td>
                        <td>@item.NumberOfBedRooms</td>
                        <td>@item.NumberOfBeds</td>
                        <td>@item.NumberOfBathrooms</td>
                        <td>@item.City?.Name</td>
                        <td>
                            @(item.Accepted ? "Active" : "Bending...")  
                        </td>
                        <td>
                            <a><i class="btn far fa-edit" style="font-size: 25px;"></i></a>
                            @if (item.Reservations.Where(r => r.CheckOut >= DateTime.Now).Count() == 0)
                            {
                                <a onclick="return confirm('Are you sure?')"
                                   asp-controller="Property"
                                   asp-action="Delete"
                                   asp-route-id="@item.Id"
                                   style="color: red;">
                                    <i class="btn far fa-trash-alt" style="font-size: 25px; padding: 10px;"></i>
                                </a>
                            }
                        </td>

                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>

<!--End of Div contain Data Table -->



@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "dom": '<"top"i>rt<"bottom"><"clear">',
                "paging": false,
                "bInfo": false,
                "columnDefs": [{
                    "targets": 6,
                    "orderable": false
                }]
            });


            $('#mySearchText').on('keyup click', function () {
                table.search($('#mySearchText').val()).draw();
            });

            $(document).on('click', 'div.dropdown-menu', function (e) {
                e.stopPropagation();
            });

        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
}
