@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Performance";
    Layout = "~/Views/Shared/_Hosting.cshtml";
}
@model IEnumerable<Reservation>

<!-- Number of list and creat -->
<div class="col-12 mt-5">

    <div class="row p-3">
        <div class="card col-12 col-lg-4 mt-2 mr-3">
            <div class="card-body">
                <h4 class="card-title card-title-custom">Total</h4>
                <h2>
                    @Model.Select(r => r.Transaction.Amount * 0.95m).Sum().ToString("C2")
                </h2>
            </div>
        </div>
        <div class="card col-12 col-lg-3 d-inline-flex mt-2  mr-3" style="float: right;">
            <div class="card-body">
                <h4 class="card-title card-title-custom">Last 30 Days</h4>
                <h3>
                    @Model.Where(r => r.Date > DateTime.Now.AddDays(-30)).Select(r => r.Transaction.Amount * 0.95m).Sum().ToString("C2")
                </h3>
            </div>
        </div>

        <div class="card col-12 col-lg-3 d-inline-flex mt-2" style="float: right;">
            <div class="card-body">
                <h4 class="card-title card-title-custom">Last year</h4>
                <h3>
                    @Model.Where(r => (r.Date >= new DateTime(DateTime.Now.Year - 1, 1, 1)) && 
                        (r.Date <= new DateTime(DateTime.Now.Year - 1, 12, 31))
                        ).Select(r => r.Transaction.Amount * 0.95m).Sum().ToString("C2")
                </h3>
            </div>
        </div>
    </div>

    <!-- Div contain Data Table -->
    <div class="col">

        <table id="example" class="table hover border" width="100%" style="margin-top: 4%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LISTING</th>
                    <th>Total Amount</th>
                    <th>Profit</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>

                        <td>@item.Property.Title</td>
                        <td>@(item.Transaction.Amount.ToString("C2"))</td>
                        <td>@((item.Transaction.Amount * 0.95m).ToString("C2"))</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>

<!--End of Div contain Data Table -->



@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "dom": '<"top"i>rt<"bottom"><"clear">',
                "paging": false,
                "bInfo": false
            });


            $('#mySearchText').on('keyup click', function () {
                table.search($('#mySearchText').val()).draw();
            });

            $(document).on('click', 'div.dropdown-menu', function (e) {
                e.stopPropagation();
            });

        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
}
